$background1: #2C2F33
$background2: #232427
$background3: #18191c
$background4: #1e1f24
$border1: #141313
$color1: #a7aaac

$primary: #FF73FA
$secondary: #9B84EE
$success: #43B571
$danger: #F04747
$warning: #FAA61A
$info: #44DDBF

$theme-colors: ("primary": $primary, "secondary": $secondary, "success": $success, "danger": $danger, "warning": $warning, "info": $info);

@import "bootstrap/scss/bootstrap"

body
    font-family: 'Whitney', monospace
    color: #dcddde !important